[Unit]
Description={{ service_description }}
After=network.target

[Service]
Type=simple
User={{ user }}
ExecStart=/usr/bin/python3 /root/rtpg-service.py
Restart=on-failure

[Install]
WantedBy=multi-user.target